# Dependencies
node_modules/

# Environment variables
.env
.env.local
server/.env

# Database files
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build directories
dist/
build/
.next
.nuxt

# IDE files
.vscode/
.idea/
*.swp

# Vercel
.vercel
